/* HEX
light purple: #9aabd8
dark blue: #1b244a
light gray: #eeeeee 
red (score): #f94f6d */
@font-face {
    font-family: digital;
    src: url(digital.ttf);
}

body {
    margin: 0;
    background: #1b244a;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 800px;
}

.team-name {
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 16px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080001;
    width: 260px;
    height: 220px;
}

#home-score-el {
    font-family: digital;
    font-size: 90px;
    color: #f94f6d;
    margin: 0;
    padding-top: 20px;
}

#guest-score-el {
    font-family: digital;
    font-size: 90px;
    color: #f94f6d;
    margin: 0;
    padding-top: 20px;
}

.score-add-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 160px;
}

.score-button {
    border: 1px solid #9aabd8;
    border-radius: 5px;
    background: none;
    color: #9aabd8;
    font-family: digital;
    font-weight: bold;
    margin: 20px 5px;
    height: 40px;
    width: 40px;
}

.reset-container {
    display: flex;
    justify-content: center;
}

.reset-btn {
    background: none;
    border: 2px solid #9aabd8;
    margin: 0 100px;
    font-family: digital;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 8px;
    color: #9aabd8;
}